data() {
return {
<form @submit.prevent="guardar" class="formulario">
<label>
Categoría *
<select v-model="form.categoria" required>
<option disabled value="">Seleccionar</option>
<option>Plaza</option>
<option>Museo</option>
<option>Playa</option>
<option>Paseo</option>
<option>Histórico</option>
<option>Natural</option>
</select>
</label>


<label>
Descripción *
<textarea v-model="form.descripcion" required></textarea>
</label>


<label>
Dirección
<input v-model="form.direccion">
</label>


<label>
Zona / Barrio
<input v-model="form.zona">
</label>


<label>
Horarios
<input v-model="form.horarios" placeholder="Ej: 9 a 18 hs">
</label>


<label>
<input type="checkbox" v-model="form.gratuito">
Es gratuito
</label>


<label v-if="!form.gratuito">
Precio
<input v-model="form.precio" placeholder="Ej: $2000">
</label>


<label>
Temporada
<select v-model="form.temporada">
<option value="">Todo el año</option>
<option>Verano</option>
<option>Invierno</option>
</select>
</label>


<fieldset>
<legend>Público ideal</legend>
<label><input type="checkbox" value="Familias" v-model="form.publico"> Familias</label>
<label><input type="checkbox" value="Niños" v-model="form.publico"> Niños</label>
<label><input type="checkbox" value="Adultos mayores" v-model="form.publico"> Adultos mayores</label>
</fieldset>


<label>
<input type="checkbox" v-model="form.accesible">
Accesible ♿
</label>


<button type="submit">{{ editIndex === null ? 'Guardar' : 'Actualizar' }}</button>
</form>
}